/*
container - push content away from the edges of the screen
small-caps - makes caps small
hidden-xs - hide on smaller 
pull-right - float to the right
visible-xs-block - visible when screen is small and is displayed as block
content - comes after a header, needs to be indented a lil
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	letter-spacing: 0.05em;
	margin: 0;
}

nav {
	left: 0;
	width: 100%;
	font-size: 20px;
	opacity: 0.85;

}

.nav {	
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 0;
}

.nav-pill {
	display: inline;
	padding: 5px;
	color: black;
}

.nav-pill a {
	text-decoration: none;
	padding: 10px;
}

a {
	color: black;
}

a:visited {
	color: black;
}

.active {
	color: #957065;
}

#toastSelfie {
	height: 50%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
	text-align: center;
}

.contact {
	float: left;
}

.thumbnail {
	height: 15%;
	width: 15%;
	display: block;
}

.link {
	display: none;
}

.project-img {
	height: 200px;
	/*width: 300px;*/
	width: 32.5%;
}

.project-info {
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.info {
	display: none;
}

/*td {
	vertical-align: top;
}

li {
	margin-bottom: 3px;
}

h2 {
	margin-bottom: 10px;
}

p {
	margin-bottom: 5px;
}
*/

/*
#name {
	text-align: center;
}

#name h1 {
	margin-bottom: 5px;
}
*/
.container {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
/*
.content {
	padding-left: 15px;
}
*/
.small-caps {
	font-variant: small-caps;
	font-size: 0.5em;
}
/*
.hidden-xs {
	display: none;
}

.visible-xs-block {
	display: block;
}
*/
@media(min-width: 768px) {
	.container {
		width: 748px;
	}

	.nav {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-pill {
		padding: 10px;
	}
/*
	.content {
		padding-left: 25px;
	}

	.visible-xs-block {
		display: none;
	}

	.hidden-xs {
		visibility: visible;
		display: inline;
	}

	.pull-right {
		float: right;
	}
*/	
}

@media(min-width: 992px) {
	.container {
		width: 972px;
	}
}

@media(min-width: 1200px) {
	.container {
		width: 1180px;
	}
}

	