body {
	background-color: #C0C0C0
	font-size: 16px;
	font-family: verdana, sans-serif; color: #636363;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	}
li {
	display: inline;

}
#limit {
	width: 500px;
	margin; 500px
	text-align: center;
}

#container {
	width: 100%; text-align: center; img
}
#content {
	background-color: #F8F8F8
}
#nav {
	margin-top: -1px;
	width: 100%;
	height: 60px;
	font: verdana, sans-serif;
	color:#000;
	font-size: 16px;
	background-color: #006699;
	overflow: hidden;
	line-height: 38px;
}
#nav ul {
	height: auto;

}
#nav li {
	display: inline;
	padding: 20px;

	vertical-align: text-top;
}
#nav a {
	text-decoration: none;
	color: #DDD;

	padding: 40px;
}
#nav a:hover {
	color: #f8f8f8;
	background-color: #003366;
}

#logo {

}