/*
FONT_COLOR -> #7C7877
BACKGROUND_COLOR -> #fffff5
STATEMENT_COLOR -> #ABD0CE
 */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
		
	background-color: #fff;
}
body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;	
	color: #7C7877;
	margin-top: 44px;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	-moz-font-feature-settings: 'liga' on;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

/*Navbar section*/
.nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ABD0CE;
	z-index: 100;
}

.nav-menu a {
	text-decoration: none;
	color: #7C7877;
	opacity: 0.85;
}

.nav-menu a:hover, .nav-menu a:focus, .nav-menu .right:hover {
	color: #fffff5;
	cursor: pointer;
} 

.nav-menu li {
	display: inline-block;
	padding: 0.5em;
	font-size: 20px;
}

.left {
	float: left;
	margin-right: 5%;
}

.nav-menu ul {
	padding-left: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0;
	margin-top: 0;
}

section {
	margin-top: 100px;
}

/*Post section*/
/*.posts-section {
	margin-top: 150px;
}*/

.posts-section h2 {
	font-size: 90%;
}

.header {
	border-bottom: 1px solid #7C7877;
}

.header h1 {
	margin-bottom: 5px;
}

.header h1, .post-title, .post-user, .post-created {
	display: inline-block;
}

.header-title, .post-title, .header-user, .header-created, .post-user, .post-created {
	width: 30%;
}

.post-title, .header-title {
	margin-left: 10px;
}

.btn {
	margin-top: 15px;
	text-decoration: none;
	color: #7C7877;
}

.post-title a {
	text-decoration: none;
	color: #7C7877;
}

.post-title a:hover, .btn:hover, .submit:hover {
	cursor: pointer;
	color: #ABD0CE;
}

/*Add a post section*/
/*.add-post-section {
	margin-top: 177px;
}*/

textarea {
	width: 100%;
	height: 100px;
}

.nav-menu .active {
	color:  #fffff5;
}

.submit {
	cursor: pointer;
	background-color: #fffff5;
	border: none;	
	font-size: 18px;
}

.add-post {
	font-size: 18pt;
	margin-bottom: 10px;	
	margin-left: 0px;
	width: 100%;
	padding: 5px;
	border-color: #7C7877;	
}

.add-post:hover {
	cursor: text;
}

.add-post-content {
	height: 100px;

}

/*view post*/
.view-post {
	overflow: hidden;
}

.view-post hr {
	clear: both;
}

.content {
	margin-left: 10px;
}

.error {
	color: red;
}

@media(min-width: 768px) {
	.container {
		width: 748px;
	}
}

@media(min-width: 992px) {
	.container {
		width: 972px;
	}

	.header-title, .post-title {
		width: 49%;
	}

	.header-user, .header-created, .post-user, .post-created {
		width: 24.5%;
	}
}

@media(min-width: 1200px) {
	.container {
		width: 1180px;
	}
}
